@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700");
/* line 27, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* line 34, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
h1, h2, h3 {
  margin: 0;
}

/* line 38, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 44, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
a {
  text-decoration: none;
}

/* line 48, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.light {
  color: #2a9ce4;
}

/* line 53, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.facebook:hover {
  color: #3B5998 !important;
}

/* line 59, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.instagram:hover {
  color: #FECD66 !important;
}

/* line 65, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.youtube:hover {
  color: #F00 !important;
}

/* line 71, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.email:hover {
  color: #6001D2 !important;
}

/* line 77, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

/* line 82, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rga(54, 54, 54, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999;
  transition: .5s padding;
}

/* line 95, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar-logo {
  margin-left: 2rem;
}

/* line 99, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar-toggle {
  display: none;
}

/* line 103, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar-collapse {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}

/* line 110, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar-nav li,
.navbar-social li {
  display: inline-block;
}

/* line 115, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar-nav li {
  margin: 0 1rem;
}

/* line 119, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar-social {
  margin-right: 1rem;
}

/* line 123, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar-social li {
  margin: 0 .5rem;
}

/* line 127, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar-nav a,
.navbar-social a {
  color: #2a9ce4;
}

/* line 131, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar-nav a:hover,
.navbar-social a:hover {
  color: #6ba8ee;
}

/* line 136, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.navbar-toggled {
  background-color: rgba(54, 54, 54, 0.7);
  padding: 1rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* line 145, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.bg {
  --bg: url(../img/header4.jpeg);
  background: var(--bg, url(../img/header4.jpeg));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* line 162, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 170, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.header .header-wrap {
  text-align: center;
  padding: 1rem 2rem;
  border: 4px solid rgba(255, 255, 255, 0.7);
}

/* line 176, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.header h1,
.header h2 {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}

/* line 182, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.header h1 {
  font-size: 4rem;
  letter-spacing: 5px;
}

/* line 187, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.header h2 {
  font-size: 3rem;
  letter-spacing: 2px;
}

/* line 192, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.header h3 {
  margin-top: 3rem;
  font-size: 4rem;
}

/* line 196, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.header h3 a {
  color: rgba(255, 255, 255, 0.7);
}

/* line 199, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.header h3 a:hover {
  color: #2a9ce4;
}

/* line 209, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.content {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 222, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.card {
  --fg: white;
  --img: url(../img/training.jpg);
  min-height: 50vh;
  position: relative;
  background: var(--img);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 234, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--fg, white);
  opacity: .7;
  z-index: 1;
  pointer-events: none;
}

/* line 247, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.card:hover::before {
  opacity: .1;
}

/* line 253, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.card--small {
  flex-basis: 40%;
}

/* line 258, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.card--big {
  flex-basis: 60%;
}

/* line 262, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.card__body {
  padding: 0 2rem;
  margin: 2rem 0;
}

/* line 266, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.card__body h2,
.card__body p {
  color: inherit;
}

/* line 271, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.card__body p {
  text-align: justify;
  hyphens: auto;
  line-height: 1.5;
}

/* line 278, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.card__body--light {
  color: white;
}

/* line 282, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.card__body--dark {
  color: #181818;
}

/* line 286, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.btn {
  padding: .5em 1.2em;
  background-color: #2a9ce4;
  border-radius: .5em;
  color: white;
}

/* line 292, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.btn:hover {
  background-color: #6ba8ee;
}

/* line 302, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.team__wrapper {
  width: 100vw;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* line 311, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.team__member {
  margin: 0 2rem;
}

/* line 314, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.team__member--img {
  --img: url(../img/member_placeholder.jpg);
  background: var(--img, url(../img/member_placeholder.jpg));
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

/* line 323, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
.team__member--name {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  /* line 333, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .card--small,
  .card--big {
    flex-basis: 50%;
  }
  /* line 338, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .card__body {
    padding: 1rem 1rem;
  }
  /* line 342, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .navbar-social {
    display: none;
  }
  /* line 346, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .navbar-nav {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 780px) {
  /* line 353, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .navbar {
    box-shadow: initial;
  }
  /* line 357, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .navbar-toggle {
    display: block;
    margin-left: auto;
    margin-right: 2rem;
  }
  /* line 363, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    flex-direction: column;
    background-color: inherit;
    padding-bottom: 1rem;
    transform-origin: top;
    transform: scale(1, 0);
    transition: transform .5s ease;
  }
  /* line 376, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .navbar-show {
    transform: scale(1, 1);
  }
  /* line 380, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .navbar-nav li {
    display: block;
    padding: .5rem 0;
    text-align: center;
  }
  /* line 386, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .navbar-social {
    display: initial;
  }
}

@media screen and (max-width: 650px) {
  /* line 395, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .header .header-wrap {
    margin: 0 1rem;
  }
  /* line 398, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .header h1 {
    font-size: 2rem;
  }
  /* line 402, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .header h2 {
    font-size: 1.5rem;
  }
  /* line 407, C:/Development/HTML/ProjektPaJo/css/scss/style.scss */
  .card--small,
  .card--big {
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=../style.map */