@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700');

$fonts-roboto : 'Roboto', sans-serif;
$fonts-lato : 'Lato', sans-serif;

$fonts: (
  'roboto' : ('Roboto', sans-serif),
  'lato' : ('Lato', sans-serif),
);

$colors: (
  'navbar-transparent' : rga(54, 54, 54, 0),
  'navbar' : rgba(54, 54, 54, .7),
  'navbar-text' : rgb(105, 215, 202),
  'navbar-text-hover': rgb(120, 245, 230),
  'header-text' : rgba(255,255,255, .7),
  'header-text-hover' : rgba(120, 245, 230, .7),
  'content-background' : rgb(90, 90, 90),
  'content-text' : rgba(255,255,255, 1),
  'content-text-dark' : rgba(24, 24, 24, 1),
  'primary' : rgb(42, 156, 228),
  'secondary' : rgb(107, 168, 238),
);



body {
  margin: 0;
  padding: 0;
  font-family: map-get($fonts, 'roboto');
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1,h2,h3 {
  margin: 0;
}

ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.light {
  color: map-get($colors, 'primary'),
}

.facebook {
  &:hover {
    color: #3B5998 !important;
  }
}

.instagram {
  &:hover {
    color: #FECD66 !important;
  }
}

.youtube {
  &:hover {
    color: #F00 !important;
  }
}

.email {
  &:hover {
    color: #6001D2 !important;
  }
}

//General
.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, .7);
}

//Navigation
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: map-get($colors, 'navbar-transparent');
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999;
  transition: .5s padding;
}

.navbar-logo {
  margin-left: 2rem;
}

.navbar-toggle {
  display: none;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}

.navbar-nav li,
.navbar-social li {
  display: inline-block;
}

.navbar-nav li {
  margin: 0 1rem;
}

.navbar-social {
  margin-right: 1rem;
}

.navbar-social li {
  margin: 0 .5rem;
}

.navbar-nav a,
.navbar-social a {
  color: map-get($colors, 'primary');

  &:hover {
    color: map-get($colors, 'secondary');
  }
}

.navbar-toggled {
  background-color: map-get($colors, 'navbar');
  padding: 1rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);

}


//Background
.bg {
  --bg: url(../img/header4.jpeg);
  background: var(--bg, url(../img/header4.jpeg));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


//header
.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header-wrap {
    text-align: center;
    padding: 1rem 2rem;
    border: 4px solid map-get($colors, 'header-text');
  }

  h1,
  h2 {
    color: map-get($colors, 'header-text');
    text-transform: uppercase;
  }

  h1 {
    font-size: 4rem;
    letter-spacing: 5px;
  }

  h2 {
    font-size: 3rem;
    letter-spacing: 2px;
  }

  h3 {
    margin-top: 3rem;
    font-size: 4rem;

    a {
      color: map-get($colors, 'header-text');

      &:hover {
        color: map-get($colors, 'primary');
      }
    }

  }
}


//Content Landing Page
.content {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  div {

  }
}



.card {
  --fg: rgb(255, 255, 255);
  --img: url(../img/training.jpg);
  min-height: 50vh;
  position: relative;
  background: var(--img);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fg, rgb(255, 255, 255));
    opacity: .7;
    z-index: 1;
    pointer-events: none;
    transition: .3s opacity;
  }

  &:hover::before {
    opacity: .1;
  }

}

.card--small {
  flex-basis: 40%;

}

.card--big {
  flex-basis: 60%;
}

.card__body {
  padding: 0 2rem;
  margin: 2rem 0;

  h2,
  p {
    color: inherit;
  }

  p {
    text-align: justify;
    hyphens: auto;
    line-height: 1.5;
  }
}

.card__body--light {
  color: map-get($colors, 'content-text');
}

.card__body--dark {
  color: map-get($colors, 'content-text-dark');
}

.btn {
  padding: .5em 1.2em;
  background-color: map-get($colors, 'primary');
  border-radius: .5em;
  color: map-get($colors, 'content-text');

  &:hover {
    background-color: map-get($colors, 'secondary');
  }
}

//Section Team
.team {
  display: block;
  padding: 1rem 2rem;
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.team__wrapper {
  //width: 100%;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team__member {
  margin: 2rem 2rem;
  flex-grow: 1;
}
.team__member--img {
  --img: url(../img/member_placeholder.jpg);
  background: var(--img, url(../img/member_placeholder.jpg));
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.team__member--name {
  text-align: center;
  color: map-get($colors, 'primary');

  a {
    color: map-get($colors, 'primary');
    &:hover {
      color: map-get($colors, 'secondary'); 
    }
  }
}

.contact {
  width: 100vw;
  background-color: map-get($colors, 'content-background');
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;

}

.contact__header--text {
  text-align: justify;
  hyphens: auto;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contact__name,
.contact__name--input,
.contact__text,
.contact__text--input,
.contact__button {
  display: block;
  width: 100%;
  max-width: 700px;

}

.contact__text--input {
  resize: none;
}

.contact__text,
.contact__button {
  margin-top: 1rem;
}
.contact__button {
  padding: .5em 1em;
  background-color: transparent;
  border: 1px solid map-get($colors, 'primary');
  border-radius: 5px;
  color: map-get($colors, 'primary');
  cursor: pointer;

  &:hover {
    color: map-get($colors, 'content-text');
    background-color: map-get($colors, 'primary');
  }
}

//MEDIA
@media screen and (max-width: 1000px) {
  .card--small,
  .card--big {
    flex-basis: 50%;
  }

  .card__body {
    padding: 1rem 1rem;
  }

  .navbar-social {
    display: none;
  }

  .navbar-nav {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 780px) {
  //Navbar Toggle
  .navbar {
    box-shadow: initial;
  }

  .navbar-toggle {
    display: block;
    margin-left: auto;
    margin-right: 2rem;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    flex-direction: column;
    background-color: inherit;
    padding-bottom: 1rem;
    transform-origin: top;
    transform: scale(1,0);
    transition: transform .5s ease;
  }

  .navbar-show {
    transform: scale(1,1);
  }

  .navbar-nav li {
    display: block;
    padding: .5rem 0;
    text-align: center;
  }

  .navbar-social {
    display: initial;
  }
}

@media screen and(max-width: 650px) {


  .header {
    .header-wrap {
      margin: 0 1rem;
    }
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  .card--small,
  .card--big {
    flex-basis: 100%;
  }
}
