@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

$fonts-roboto : 'Roboto', sans-serif;
$fonts-lato : 'Lato', sans-serif;

$fonts: (
  'roboto' : ('Roboto', sans-serif),
  'lato' : ('Lato, sans-serif')
);

$colors: (
  'navbar' : rgb(54, 54, 54),
  'navbar-text' : rgb(105, 215, 202),
  'navbar-text-hover': rgb(120, 245, 230),
);



body {
  margin: 0;
  padding: 0;
  font-family: map-get($fonts, 'roboto');
}

h1,h2,h3 {
  margin: 0;
}

ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.light {
  color: map-get($colors, 'navbar-text'),
}

.facebook {
  &:hover {
    color: #3B5998 !important;
  }
}

.instagram {
  &:hover {
    color: #FECD66 !important;
  }
}

.youtube {
  &:hover {
    color: #F00 !important;
  }
}

.email {
  &:hover {
    color: #6001D2 !important;
  }
}

//General
.shadow {
  box-shadow: 0 0 5px 5px rgba(0,0,0,.7);
}

//Background Class
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  --bg: url(../img/header3.jpeg);
  background: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

//Navbar
.navbar {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: map-get($colors, 'navbar');
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.navbar-collapse {
  display: flex;
}

.navbar-logo {
  display: block;
  text-transform: uppercase;
  padding-left: 2rem;

  &:hover {
    color: map-get($colors, 'navbar-text-hover');
  }
}

.navbar-nav, .navbar-social {
  padding-right: 2rem;
  li {
    display: inline-block;
  }
}

.navbar-nav li {
  margin: 0 .5rem;
}

.nav-link {
  color: map-get($colors, 'navbar-text');

  &:hover {
    color: map-get($colors, 'navbar-text-hover');
  }
}

.navbar-social li {
  margin: 0 .25rem;
}

.navbar-toggle {
  display: none;
}

//Mixins
@mixin font-size($min_fs, $max_fs, $min_screen, $max_screen) {
  font-size: calc($min_fs + ($max_fs - $min_fs) * (100vw - $min_screen) / ($max_screen - $min_screen));
}

//Header Information
.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: rgba(255,255,255, .7);
    //@include font-size(16px, 48px, 400px, 1080px);

    font-size: calc(16px + (64px - 16px) * (100vw - 400px) / (1080px - 400px));

  }
}
